/* --------------------------------------------- Page --------------------------------------------- */

#page-choix-boissons {
  display: flex;
  flex-direction: row;
}

/* --------------------------------------------- Gauche --------------------------------------------- */

#partie-gauche-choix-boissons {
  display: flex;
  flex-direction: column;
  width: 78.9%; /*1300px*/
}

#nav-page-boissons {
  display: flex;
  flex-direction: row;
  margin: 3.9%; /*50px*/
  height: 12.3%; /*126px*/
}

#choix-categorie-boissons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 83.5%; /*1000px*/
}
.parent-liste-categorie {
  display: flex;
  flex-direction: row;
  gap: 8.1%;
}

.card-categories-nav {
  border: 1px solid #6e6e6e;
  border-radius: 8px;
  height: 100%; /*120px*/
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.875rem; /*14px*/
  font-weight: 400;
  padding: 4.26%; /*25px*/
}

.parent-image-card-categorie {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.parent-texte-titre-image-nav {
  height: 20%;
  width: 100%;
  text-align: center;
}

.image-card-categorie {
  height: 78.03%; /*100px*/
  padding-top: 1.48%; /*2px*/
}

.titre-images-nav {
  padding-top: 4.3%; /*5px*/
  white-space: nowrap;
}

.fleche-slider-droite {
  transform: rotate(180deg);
}

#nos-boissons {
  display: flex;
  flex-direction: column;
  margin-left: 10.4%; /* 135px*/
  width: 81.6%; /*1060px*/
  height: 12.3%; /*126px*/
}

#titre-boissons {
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 400;
  font-size: 1.75rem; /*28px*/
  padding-bottom: 1.9%; /*20px*/
}

#description-boissons {
  font-weight: 400;
  font-size: 0.875rem; /*14px*/
  padding-bottom: 4.7%; /*50px*/
}

#zone-choix {
  display: flex;
  flex-direction: row;
  /* height: 612px; */
  /* width: 1060px; */
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2.4%; /*20px*/
}

.card-choix {
  border: 1px solid #6e6e6e;
  border-radius: 8px;
  height: 53.8%; /*296px*/
  width: 22.6%; /*240px*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.95%; /*10px*/
}

#image-card {
  height: 73.1%; /*200px*/
  width: 93.93%; /*199px*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-card-produits {
  width: 97.38%; /*199px*/
  height: 99.898%; /*200px*/
}

.nom-du-produit {
  font-weight: 400;
  font-size: 1.25rem; /*20px*/
}

.prix-produit {
  font-weight: 400;
  font-size: 1.125rem; /*18px*/
}

/* --------------------------------------------- Droite --------------------------------------------- */

#partie-droite-panier {
  display: flex;
  width: 21.8%; /*418.55px*/
  height: 100%; /*1080px*/
  background-color: #f1f1f1;
  flex-direction: column;
  padding-right: 1.31%; /*25px*/
  padding-bottom: 2.92%; /*56px*/
}

#logo-numero-commande {
  display: flex;
  flex-direction: column;
}

.logo-panier {
  width: 8.53%; /*32.3px*/
  /* height: 28.24px; */
  margin: 10% 50% 10% 50%;
}

#panier {
  padding-left: 6.6%; /*25px*/
}

#zone-numero-ticket {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#numero-commande {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 0.875rem; /*14px*/
}

#numero-emporter {
  display: flex;
  flex-direction: row;
}

#numero-sur-place {
  display: flex;
  flex-direction: row;
}

#numero-commande-emporter {
  font-weight: 400;
  font-size: 2.625rem; /*42px*/
}

#numero-commande-sur-place {
  font-weight: 700;
  padding-left: 8.54%; /*10px*/
}

.barre-separation {
  border: 1px solid black;
  width: 100%;
  margin-bottom: 5.66%; /*20px*/
}
#articles-panier {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 100%; /*353.81px*/
}

.menus-panier {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.83%; /*10px*/
}

.liste-detail-menu {
  font-size: 0.875rem; /*14px*/
  padding-left: 8.48%; /*30px*/
}

#total-panier {
  font-weight: 700;
  font-size: 1.375rem; /*22px*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#total {
  font-size: 1.375rem; /*22px*/
  font-weight: 400;
  display: flex;
  flex-direction: column;
}
#montant {
  font-size: 2.625rem; /*42px*/
  font-weight: 400;
}

#btn-panier {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 7.07%; /*25px*/
}

#btn-abandon {
  border: 1px solid black;
  padding: 7.07% 14.135%; /*25px 50px*/
  border-radius: 8px;
  font-size: 1rem; /*16px*/
  font-weight: 400;
}

#btn-payer {
  border-radius: 8px;
  background-color: #ffc836;
  font-size: 1.125rem; /*18px*/
  font-weight: 700;
  padding: 7.07% 14.135%; /*25px 50px*/
  border: none;
}

/* --------------------------------------------- Responsive --------------------------------------------- */

/* --------------------------------------------- Responsive page index --------------------------------------------- */

/* --------------------- Petit pc Nest Hub Max -------------------*/

@media (max-width: 1280px) {
  .parent-liste-categorie {
    gap: 2.1%;
  }

  .card-categories-nav {
    padding: 2.26%;
  }

  #btn-abandon,
  #btn-payer {
    padding: 4.07% 10.135%;
  }
}

/* --------------------- Tablette ipad air horizontale -------------------*/

@media (max-width: 1180px) {
  #partie-droite-panier {
    width: 21.1%;
  }
  #btn-panier {
    padding-top: 19.07%;
  }
}

/* --------------------- Tablette ipad air vertical -------------------*/

@media (max-width: 820px) {
  #partie-droite-panier {
    width: 24.1%;
    padding-right: 3%;
  }

  #montant {
    font-size: 1.625rem;
  }

  #btn-panier {
    padding-top: 38%;
  }

  #btn-abandon,
  #btn-payer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.07% 2.135%;
  }
}
