/* --------------------------------------------- Menu chevalet --------------------------------------------- */

#container-menu-chevalet {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 42%;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
  padding: 32px;
  position: absolute;
  bottom: 6%;
  z-index: 2; /*image devant le fond d'écran*/
  margin-left: 29%;
}

#container-img-chevalet {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#menu-chevalet-titre-p {
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 700;
  font-size: 42px;
}

#texte-chevalet {
  font-weight: 700;
  font-size: 26px;
  padding-top: 45px;
  width: 80%;
}

/* --------------------------------------------- Numero chevalet --------------------------------------------- */

form label .input-numero-chevalet {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  gap: 15px;
}

#form-numero-chevalet {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 80px;
}

.input-numero-chevalet {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  border: none;
  border-bottom: 15px solid #d9d9d9;
  width: 30%;
}

/* --------------------------------------------- Bouton chevalet --------------------------------------------- */

#form-btn {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.btn-chevalet {
  background-color: #ffc836;
  padding: 16px 32px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

/* --------------------------------------------- Responsive --------------------------------------------- */
@media (max-width: 1314px) {
  #texte-chevalet {
    font-size: 20px;
  }
  h1 {
    font-size: 30px;
  }
}

@media (max-width: 1280px) {
  #container-menu-chevalet {
    padding: 18px;
    bottom: 17.5%;
    height: 65%;
  }

  #texte-chevalet {
    padding-top: 30px;
  }

  .input-numero-chevalet {
    font-size: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  #form-numero-chevalet {
    padding-top: 10px;
    padding-bottom: 45px;
  }

  .btn-chevalet {
    padding: 10px 20px;
  }
}

@media (max-width: 978px) {
  #container-menu-chevalet {
    width: 60%;
    height: 63%;
    margin-left: 22%;
  }
}

@media (max-width: 682px) {
  #container-menu-chevalet {
    width: 60%;
    height: 71%;
  }
}

@media (max-width: 595px) {
  #container-img-chevalet img {
    width: 70%;
  }
}
