/* --------------------------------------------- Menu accueil --------------------------------------------- */

#container-menu-accueil {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  height: 55%;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
  padding: 32px;
  position: absolute;
  top: 20%; /* distance du bas*/
  z-index: 2; /*image devant le fond d'écran*/
  margin-left: 30%;
}

#menu-accueil-titre-p {
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 700;
  font-size: 42px;
}
#question-choix-lieu {
  font-weight: 700;
  font-size: 26px;
  padding-top: 45px;
}

/* --------------------------------------------- Boutons --------------------------------------------- */

.btn-choix-lieu {
  border: 8px solid #ffc836;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
}

#container-btn-choix-lieu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.btn-choix-lieu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 20px;
}

.btn-img {
  width: 60%;
}

.choix-lieu {
  font-weight: 700;
  font-size: 26px;
}

/* --------------------------------------------- Responsive --------------------------------------------- */

@media (max-width: 1875px) {
  #fond-ecran {
    width: 100%;
  }

  #container-menu-accueil {
    height: 65%;
  }

  h1 {
    font-size: 30px;
  }

  #question-choix-lieu {
    font-size: 20px;
  }

  .choix-lieu {
    font-size: 20px;
  }
}

@media (max-width: 1475px) {
  #fond-ecran {
    top: 0%;
  }
}

@media (max-width: 915px) {
  #container-menu-accueil {
    height: 45%;
  }

  h1 {
    font-size: 25px;
  }

  #question-choix-lieu {
    font-size: 15px;
    padding-top: 30px;
  }

  .choix-lieu {
    font-size: 15px;
  }
}

@media (max-width: 722px) {
  #container-menu-accueil {
    height: 38%;
  }

  h1 {
    font-size: 20px;
  }

  #question-choix-lieu {
    font-size: 10px;
  }

  .choix-lieu {
    font-size: 10px;
  }
}

@media (max-width: 540px) {
  #container-menu-accueil {
    height: 43%;
  }

  h1 {
    font-size: 20px;
  }

  #container-btn-choix-lieu {
    flex-direction: column;
    gap: 15px;
    margin: auto;
    width: 60%;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .btn-choix-lieu {
    border: 5px solid #ffc836;
  }

  .btn-img {
    width: 30%;
  }
}

@media (max-width: 375px) {
  #container-menu-accueil {
    height: 45%;
    padding: 20px;
  }

  h1 {
    font-size: 15px;
  }

  #question-choix-lieu {
    font-size: 8px;
    padding-top: 15px;
  }

  .choix-lieu {
    font-size: 8px;
  }
}
