/* --------------------------------------------- Menu accueil --------------------------------------------- */


#container-menu-accueil {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  height: 65%;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
  padding: 32px;
  position: absolute;
  top: 20%; /* distance du bas*/
  margin-left:30%;
}

#menu-accueil-titre-p {
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 700;
  font-size: 42px;
}
#question-choix-lieu {
  font-weight: 700;
  font-size: 26px;
  padding-top: 45px;
}

/* --------------------------------------------- Boutons --------------------------------------------- */

  .btn-choix-lieu-sur-place,
  .btn-choix-lieu-emporter{
  border: 1px solid #6e6e6e;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-top: 20px;
  text-decoration: none;
  color: inherit; /* conserve la couleur du texte */
}

#container-btn-choix-lieu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  margin-top: 40px;
  margin-bottom: 60px;
}

  .btn-choix-lieu-sur-place,
  .btn-choix-lieu-emporter{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 20px;
}

.btn-img-sur-place,
.btn-img-emporter {
  width: 60%;
}

.choix-lieu-sur-place,
.choix-lieu-emporter {
  font-weight: 700;
  font-size: 26px;
  padding-top: 15px;
}

/* --------------------------------------------- Javascript --------------------------------------------- */


.activeBorder{
  border: 4px solid #ffc400;
}

/* --------------------------------------------- Responsive --------------------------------------------- */

@media (max-width: 1875px) {
  #fond-ecran {
    width: 100%;
  }

  #container-menu-accueil {
    height: auto;
  }

  h1 {
    font-size: 30px;
  }

  #question-choix-lieu {
    font-size: 20px;
  }

.choix-lieu-sur-place,
.choix-lieu-emporter {
    font-size: 20px;
  }
}

@media (max-width: 915px) {
  #container-menu-accueil {
    height: auto;
  }

  h1 {
    font-size: 25px;
  }

  #question-choix-lieu {
    font-size: 15px;
    padding-top: 30px;
  }

.choix-lieu-sur-place,
.choix-lieu-emporter {
    font-size: 15px;
  }
}

@media (max-width: 722px) {

  #fond-ecran {
    top: 0%;
  }
  
  #container-menu-accueil {
    height: auto;
  }

  h1 {
    font-size: 20px;
  }

  #question-choix-lieu {
    font-size: 10px;
  }

.choix-lieu-sur-place,
.choix-lieu-emporter {
    font-size: 10px;
  }
}

@media (max-width: 540px) {
  #container-menu-accueil {
    height: auto;
    padding: 10px;
  }

  h1 {
    font-size: 15px;
  }

  #container-btn-choix-lieu {
    flex-direction: column;
    gap: 15px;
    margin: auto;
    width: 60%;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #question-choix-lieu {
    font-size: 8px;
    padding-top: 15px;
  }

  .choix-lieu-sur-place,
  .choix-lieu-emporter {
    font-size: 8px;
  }

  .btn-img-sur-place,
  .btn-img-emporter {
    width: 30%;
  }
}
