/* --------------------------------------------- Page --------------------------------------------- */

#page-choix-menus {
  display: flex;
  flex-direction: row;
}

/* --------------------------------------------- Gauche --------------------------------------------- */

#partie-gauche-choix-menus {
  display: flex;
  flex-direction: column;
  width: 80%;
}

#nav-page-menus {
  display: flex;
  flex-direction: row;
  margin: 50px;
  height: 150px;
}

#fleche-gauche {
  margin-right: 25px;
}

#choix-categorie-menus {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 80%;
}

#container-liste-categories {
  display: flex;
  flex-direction: row;
  gap: 35px;
  padding-left: 25px;
}

.card-categories-nav {
  border: 1px solid #6e6e6e;
  border-radius: 8px;
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.container-img-card-categorie {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.container-titre-img-nav {
  height: 20%;
  width: 100%;
  text-align: center;
}

.img-card-categorie {
  height: 55px;
  padding-top: 1px;
}

.titre-img-nav {
  padding-bottom: 5px;
  white-space: nowrap;
}

.fleche-droite {
  transform: rotate(180deg);
}

#container-nos-menus {
  display: flex;
  flex-direction: column;
  margin-left: 135px;
  width: 80%;
}

#titre-menus {
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 400;
  font-size: 28px;
  padding-bottom: 20px;
}

#description-menus {
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 50px;
}

#container-zone-choix {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 25px;
}

.card-choix {
  border: 1px solid #6e6e6e;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  height: 326px;
  width: 229px;
}

#container-img-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-card-produits {
  height: 200px;
  width: 199px;
}

.container-titre-prix {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nom-du-produit {
  font-weight: 400;
  font-size: 20px;
}

.prix-produit {
  font-weight: 400;
  font-size: 18px;
}

/* --------------------------------------------- Droite --------------------------------------------- */

#partie-droite-panier {
  display: flex;
  width: 20%;
  background-color: #f1f1f1;
  flex-direction: column;
  padding-right: 25px;
  padding-bottom: 56px;
  position: sticky; /*permet de faire suivre le panier quand on descend en bas de page, il faut un top: 0 pour que cela fontionne*/
  top: 0;
}

#logo-numero-commande {
  display: flex;
  flex-direction: column;
}

.logo-panier {
  width: 32.3px;
  margin: 10% 50% 10% 50%;
}

#container-panier {
  padding-left: 25px;
}

#container-numero-commande {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#numero-commande {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
}

#numero-emporter {
  display: flex;
  flex-direction: row;
}

#numero-sur-place {
  display: flex;
  flex-direction: row;
}

#numero-commande-emporter {
  font-weight: 400;
  font-size: 42px;
}

#numero-commande-sur-place {
  font-weight: 700;
  padding-left: 10px;
}

.barre-separation {
  border: 1px solid black;
  width: 100%;
  margin-bottom: 20px;
}

#container-articles-panier {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 334px;
}

.menus-panier {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.liste-detail-menus {
  font-size: 14px;
  padding-left: 30px;
}

#container-total-panier {
  font-weight: 700;
  font-size: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#total {
  font-size: 22px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}
#montant {
  font-size: 42px;
  font-weight: 400;
}

#container-btn-panier {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 25px;
}

#btn-abandon {
  border: 1px solid black;
  padding: 25px 50px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
}

#btn-payer {
  border-radius: 8px;
  background-color: #ffc836;
  font-size: 18px;
  font-weight: 700;
  padding: 25px 50px;
  border: none;
}

/* --------------------------------------------- Responsive --------------------------------------------- */

/* --------------------- Petit pc Nest Hub Max -------------------*/

@media (max-width: 1860px) {
  #btn-abandon,
  #btn-payer {
    padding: 25px 25px;
    width: 45%;
  }
}

@media (max-width: 1450px) {
  #montant {
    font-size: 26px;
  }

  #total {
    font-size: 15px;
  }

  #container-btn-panier {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #btn-abandon,
  #btn-payer {
    width: 80%;
  }

  #btn-payer {
    margin-top: 5%;
  }
}

@media (max-width: 1000px) {
  #partie-gauche-choix-menus {
    width: 70%;
  }

  #partie-droite-panier {
    width: 30%;
  }

  .card-categories-nav {
    height: 120px;
    width: 120px;
  }

  #nav-page-menus {
    height: 120px;
  }

  .card-choix {
    height: 270px;
    width: 210px;
    padding-bottom: 10px;
  }

  .nom-du-produit {
    font-size: 15px;
  }

  .prix-produit {
    font-size: 15px;
  }

  #container-liste-categories {
    gap: 15px;
  }

  #fleche-gauche {
    margin-right: 0px;
  }

  #container-liste-categories {
    padding-left: 5px;
  }

  #container-nos-menus {
    margin-left: 60px;
  }
}

@media (max-width: 795px) {
  section#page-choix-menus {
    display: flex;
    flex-direction: column;
  }

  #partie-gauche-choix-menus {
    width: 100%;
  }

  #partie-droite-panier {
    width: 100%;
    margin-top: 10%;
  }
}

@media (max-width: 556px) {
  .card-categories-nav {
    height: 100px;
    width: 100px;
  }

  #nav-page-menus {
    height: 100px;
  }

  .card-choix {
    height: 220px;
    width: 170px;
    padding-bottom: 10px;
  }

  .img-card-produits {
    height: 150px;
    width: 149px;
  }
}

@media (max-width: 457px) {
  #container-zone-choix {
    justify-content: center;
  }
}
