#container-popup-menus {
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;

}

#img-logo-croix {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 2px;
  margin-top: 2px;
  margin-bottom: 10px;
  width: 100%;
}

img#croix {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#croix {
  margin-left: auto;
}

#btn-retour {
  display: flex;
  visibility: hidden;
  flex-direction: row;
  align-items: center;
  padding-right: 2px;
  margin-top: 2px;
  padding: 16px 32px;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
}


#popup {
  width: 70%;
  max-width: 930px;
  background-color: white;
  border-radius: 16px;
  padding: 20px;
}

#container-titre-description-img {
  padding: 0 5% 0 5%;
  margin-bottom: 50px;
}

h1 {
  font-weight: 700;
  font-size: 26px;
}

#container-titre-descritpion-popup {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
}

#texte-description-popup {
  font-weight: 700;
  font-size: 18px;
  padding-top: 10px;
  margin-bottom: 40px;
}

#container-choix-taille {
  display: flex;
  justify-content: space-evenly;
  gap: 70px;
}

.container-taille {
  width: 285px;
  height: 202px;
  border: 2px solid #d6d6d6;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

#img-petite-taille {
  width: 139px;
  height: 154px;
}

#img-grande-taille {
  width: 139px;
  height: 154px;
}

.texte-choix-taille {
  font-weight: 700;
  font-size: 26px;
}

#container-parent-compteur {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

#container-compteur {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 283px;
  height: 76px;
  border-radius: 8px;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.25);
}

#btn-plus,
#btn-moins {
  background-color: #ffc400;
  font-weight: 700;
  font-size: 40px;
  width: 76px;
  height: 76px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#valeur-compteur {
  font-weight: 700;
  font-size: 40px;
  padding: 0 55px 0 55px;
  text-align: center;
}

#container-btn-validation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 56px;
  margin-bottom: 20px;
}

#btn-annuler-commande {
  border: 2px solid black;
  border-radius: 8px;
  background-color: white;
  padding: 16px 32px;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}
#btn-ajouter-commande,
#btn-etape-suivante {
  border: none;
  border-radius: 8px;
  background-color: #ffc400;
  padding: 16px 32px;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.activeBorder{
  border: 4px solid #ffc400 ;
  /* !important; */
}

/* --------------------------------------------- Css pour javascript popup de la nav bar --------------------------------------------- */



.nav-popup-boissons{
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.nav-popup-boissons #nav-page-produits {
  display: flex;
  flex-direction: row;
  margin: 50px;
  height: 150px;
}

.nav-popup-boissons #fleche-gauche {
  margin-right: 5px;
  cursor: pointer;
  height: 60%;
  }

.nav-popup-boissons #choix-categorie-produits {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 80%;
}

.nav-popup-boissons #container-liste-categories {
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding-left: 0;
  transition: all 1s;
}

.nav-popup-boissons .card-categories-nav {
  border: 1px solid #6e6e6e;
  border-radius: 8px;
  height: 150px;
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.nav-popup-boissons .container-img-card-categorie {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.nav-popup-boissons .img-card-categorie {
  height: 85px;
  padding-top: 1px;
}

.nav-popup-boissons .container-titre-img-nav {
  height: 100%;
  width: 100%;
  text-align: center;
}

.nav-popup-boissons .titre-img-nav {
  padding-bottom: 5px;
  white-space: nowrap;
}

.nav-popup-boissons .fleche-droite {
  transform: rotate(180deg);
  cursor: pointer;
  height: 60%;
}


.nav-popup-boissons .activeBorder{
  border: 4px solid #ffc400;
}


/* ---------------------- CSS pour la Popup bouton valider pour les boissons -------------------------------------------- */


#container-popup-boissons {
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;

}




/* ---------------------- CSS pour la Popup bouton valider pour les articles à l'unité -------------------------------------------- */


#popupValider {
  width: 22%;
  max-width: 500px;
  min-width: 300px;
  background-color: white;
  border-radius: 16px;
  padding: 20px;
}

#container-popup-articles {
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;

}

#succes-commande {
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

/* --------------------------------------------- Responsive --------------------------------------------- */

@media (max-width: 900px) {
  h1 {
    font-size: 20px;
  }

  #texte-description-popup {
    font-size: 12px;
    margin-bottom: 25px;
  }

  #container-choix-taille {
    flex-direction: column;
    gap: 35px;
  }

  .nav-popup-boissons .card-categories-nav {
    height: 130px;
    width: 110px;
    font-size: 14px;
    }

  .nav-popup-boissons {
    gap: 5px;
  }

  .nav-popup-boissons #container-liste-categories {
    gap: 5px;
  }

  .nav-popup-boissons #fleche-gauche {
    height: 70px;
  }

  .nav-popup-boissons .fleche-droite {
    height: 70px;
  }

  #container-choix-taille {
    align-items: center;
    gap: 10px;
  }

  .container-taille {
    width: 190px;
    height: 165px;
  }

  .texte-choix-taille {
    font-size: 20px;
  }

  #img-grande-taille {
    height: 130px;
  }

  #valeur-compteur {
    font-size: 30px;
    padding: 0px 40px 0 40px;
  }

  #container-compteur {
  width: 226px;
  height: 65px;
  }

  #btn-plus,
  #btn-moins {
    font-size: 30px;
    width: 65px;
    height: 65px;
  }

  #container-btn-validation {
    flex-direction: column-reverse;
    gap: 40px;
  }

  #container-btn-validation {
    gap: 30px;
  }

  #btn-ajouter-commande,#btn-annuler-commande, #btn-etape-suivante{
    justify-content: center;
    padding: 10px 20px;
    font-size: 14px;
  }
}

@media (max-width: 650px) {
  .nav-popup-boissons .card-categories-nav {
    height: 80px;
    width: 60px;
  }

  .nav-popup-boissons .img-card-categorie {
    height: 60px;
  }

  .nav-popup-boissons #fleche-gauche {
    height: 50px;
  }

  .nav-popup-boissons .fleche-droite {
    height: 50px;
  }

  .titre-img-nav {
    font-size: 7px;
  }

  #btn-retour {
    padding: 10px 20px;
    font-size: 12px;
  } 

  img#croix {
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
}

@media (max-width: 500px) {
  #croix {
    width: 10%;
  }

  .container-taille {
    width: 145px;
    height: 125px;
  }

  #container-titre-descritpion-popup {
    padding-bottom: 10px;
  }

  #valeur-compteur {
    font-size: 25px;
    padding: 0px 20px 0 20px;
  }

  #container-compteur {
    width: 145px;
  }

  #container-btn-validation {
    gap: 20px;
  }

  #img-grande-taille,
  #img-petite-taille {
    width: 89px;
    height: 104px;
  }

  h1 {
    font-size: 15px;
  }

  #texte-description-popup {
    font-size: 10px;
    margin-bottom: 20px;
  }

  .texte-choix-taille {
    font-size: 15px;
  }

  #container-choix-taille {
    gap: 10px;
  }

  #btn-plus,
  #btn-moins {
    font-size: 25px;
  }

  #btn-annuler-commande,
  #btn-ajouter-commande,
  #btn-etape-suivante {
    padding: 8px 12px;
    font-size: 12px;
  }

  .nav-popup-boissons .container-titre-img-nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }

  .nav-popup-boissons .card-categories-nav {
    height: 70px;
    width: 60px;
  }

  #container-titre-description-img {
    padding: 0;
  }

  #container-liste-categories {
    margin-left: 0px;
  }

  #btn-retour {
    padding: 7px 15px;
    font-size: 10px;
  } 

  img#croix {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 400px) {

  .nav-popup-boissons .card-categories-nav {
    height: 55px;
    width: 55px;
  }

  .nav-popup-boissons .img-card-categorie {
    height: 35px;
  }

  .nav-popup-boissons .container-img-card-categorie {
    padding: 0;
  }

  .nav-popup-boissons #fleche-gauche {
    height: 40px;
  }

  .nav-popup-boissons .fleche-droite {
    height: 40px;
  }

  .img-card-categorie {
    height: 50px;
  }

  #container-nos-produits {
    margin-left: 20px;
  }

  #container-titre-descritpion-popup {
    padding-bottom: 8px;
  }

  h1 {
    margin-left: 0;
    font-size: 10px;
    padding-bottom: 10px;
  }

  #texte-description-popup {
    font-size: 8px;
    margin-bottom: 10px;
  }

  #description-produits {
    padding-bottom: 0;
  } 
  
  .titre-img-nav {
    font-size: 7px;
  }
}
