/* --------------------------------------------- Menu chevalet --------------------------------------------- */

#container-menu-remerciements {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 43%; /* 698px*/
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
  padding: 32px;
  position: absolute;
  bottom: 32%; /* distance du bas 300px */
  z-index: 2; /*image devant le fond d'écran*/
  margin-left: 29%;
}

#image-remerciements {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

h1 {
  font-weight: 700;
  font-size: 42px;
}
#texte-remerciements {
  font-weight: 700;
  font-size: 26px;
  padding-top: 60px;
  width: 90%;
}

#img-a-bientot {
  width: 40%;
  padding-top: 80px;
}

/* --------------------------------------------- Responsive --------------------------------------------- */
@media (max-width: 1420px) {
  #texte-remerciements {
    font-size: 15px;
  }
  h1 {
    font-size: 25px;
  }
}

@media (max-width: 1069px) {
  #container-menu-remerciements {
    width: 50%;
    bottom: 50%;
  }
}

@media (max-width: 940px) {
  #container-menu-remerciements {
    width: 60%;
    margin-left: 25%;
    bottom: 40%;
  }
}

@media (max-width: 700px) {
  #texte-remerciements {
    font-size: 10px;
    padding-top: 30px;
  }
  h1 {
    font-size: 20px;
  }
  #img-a-bientot {
    width: 40%;
    padding-top: 40px;
  }
}

@media (max-width: 600px) {
  #container-menu-remerciements {
    width: 60%;
    margin-left: 25%;
    bottom: 60%;
  }
}
