/* --------------------------------------------- Menu remerciements --------------------------------------------- */

#container-menu-remerciements {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 43%; /* 698px*/
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
  padding: 32px;
  position: absolute;
  bottom: 32%; /* distance du bas 300px */
  margin-left: 29%;
}

#image-remerciements {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

h1 {
  font-weight: 700;
  font-size: 42px;
}
#texte-remerciements {
  font-weight: 700;
  font-size: 26px;
  padding-top: 60px;
  width: 90%;
}

#img-a-bientot {
  width: 40%;
  padding-top: 80px;
}

#btn-nouvelle-commande {
  border-radius: 8px;
  background-color: #ffc836;
  font-size: 26px;
  font-weight: 700;
  padding: 25px 50px;
  border: none;
  cursor: pointer;
  position: relative;
  top: 85%;
  left: 40%;
  right: 45%;
}

/* --------------------------------------------- Responsive --------------------------------------------- */
@media (max-width: 1420px) {
  #texte-remerciements {
    font-size: 15px;
  }
  h1 {
    font-size: 25px;
  }

  #btn-nouvelle-commande {
    font-size: 15px;
  }
}

@media (max-width: 1069px) {
  #container-menu-remerciements {
    width: 55%;
    bottom: 40%;
    margin-left: 25%;
  }

  #btn-nouvelle-commande {
    top: 70%;
  }
}

@media (max-width: 700px) {
  #texte-remerciements {
    font-size: 10px;
    padding-top: 30px;
  }
  h1 {
    font-size: 20px;
  }
  #img-a-bientot {
    width: 40%;
    padding-top: 40px;
  }

  #btn-nouvelle-commande {
    font-size: 10px;
  }
}

@media (max-width: 440px) {
  #btn-nouvelle-commande {
    padding: 20px 30px;
  }

  #container-menu-remerciements {
    bottom: 55%;
  }

  #btn-nouvelle-commande {
    top: 55%;
  }
}
