/* --------------------------------------------- Général --------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans 3";
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  max-height: 1080px;
  overflow-x: hidden; /* évite la barre horizontale et cache ce qui dépasse */
  background-color: white;
}
